
.clear {
    clear: both;
}


.container {
    width: 100%;
    border: 1px solid gray;
}

.header {
    padding: 1em;
    color: red;
    background-color: black;
    clear: left;
    text-align: center;
}

.footer {

    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.content {
    border-left: 1px solid gray;
    padding: 5em;
}

.navigatie {
    width: 100%;
    height: 55px;
    background-color: #444;
    /*background-color: orange;*/

}

/**/
img {
    height: 10px;
    width: 10px;

}

.icons{
    float: right;
    width: 25%;

}

.icons ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.icons li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.icons a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.icons a:hover {
    background-color: #005f5f;
}

.icons a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.icons li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

/* Option 1 - Display Inline */
.icons li {
    display: inline-block;
    margin-right: -4px;
}

.logo{
    width: 10%;
    float: left;
    color: white;
    text-align: center;
}


/**/
.nav{
    float: left;
    width: 65%;

}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

/* Option 1 - Display Inline */
.nav li {
    display: inline-block;
    margin-right: -4px;
}

/**/

