
html,body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: 100%;

}

.banner {
    width: 70%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;}

.schedule_title
{
    background-color: lightgreen;
}
.schedule_content
{
    background-color: greenyellow;
}

.container {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    border: 1px solid gray;
}

.header {
    padding: 1em;
    color: red;
    width: 100%;
    height: 10%;
    background-color: black;
    clear: left;
    text-align: center;
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.content {
    border-left: 1px solid gray;
    padding: 5em;
    height: auto;
}


.navigatie {
    width: 100%;
    background-color: orange;
    height: 30px; /* tijdelijk*/
}

.navigatie table.table_nav {
    float: left;
    padding: 0 0 0 50%;

}

.navigatie table.table_contact {
    float: right;
    padding:0 20px 0 0 ;
}

#email{
    background-image:url("../icons/ic_email_black_48dp.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

#plaats{
    background-image:url("../icons/ic_location_on_black_48dp.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}