
.clear {
    clear: both;

}
html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url('../Images/105pead.jpg') repeat-y;
    background-size: 100%;
}



.header {
    background: url('../Images/bg01.jpg') no-repeat center center;
    padding-top: 60px;
    width: 100%;
    min-height: 100px;
    background-size: 100%;
    text-align: center;
    color: red;

}

.footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    margin: 0 auto;
    left: 0;
    /*overflow:hidden;*/
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

/*content*/
.content {
    width: 100%;
    /*height: 100%;*/
    min-height: 100%;
/*overflow-y: scroll;*/
/*position: absolute;*/
    /*bottom: 0;*/


}

.blok{
    /*position: static;*/
    /*background-color: #bb0000;*/
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

.infoBlok{
    /*position: static;*/
    /*background-color: #bb0000;*/
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

.title{
    color: white;
    width: 30%;
    text-align: center;
    background-color: maroon;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
}

.info{
    width: 100%;
    background-color: #005f5f;
}

.infoBalk{
    width: 100%;
    background-color: #005f5f;
}

.myTekst{
    margin: 10px;
    /*padding: 10px;*/
    width: 30%;
    float: right;
    background-color: white;
    border-radius: 20px 0;
}

.myInfoTekstBlock{
    margin: 10px;
    padding: 10px;
    /*width: 100%;*/
    float: right;
    background-color: white;
    border-radius: 20px 0;
}

.formulier{
    width: 40%;
    float: left;
    /*background-color: white;*/
    margin: 10px;
    padding: 10px;
    color: white;
}

.tekstInfo{
    padding: 10px;
}

.container_prijs{
    width: 100%;
    border-top:solid 1px #ccc ;
    border-bottom: solid 1px #ccc;
}

.prijsInfo{
    width: 70%;
    float: left;
    height: 50px;
    background-color: #ccc;
    vertical-align: middle;
    text-align: center;

    /*tekst van de kant houden ********** */
    line-height: 50px;

}

.prijs{
    display: inline-block;
    float: right;
    width: 30%;
    height: 50px;
    background-color: maroon;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

h1{
    font-size: 150%
}



.logo {
    width: 10%;
    /*float: left;*/
    color: white;
    text-align: center;
    background-color: red;
    display: inline-block;
    height: 100%;
}










/*slide show*/

/*for slideshow*/
 {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    width: 50%;
    height:100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Images */
.galleryImg{
    height: 100%;
    width: 100%;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*google maps*/
.myMaps{
    width: 50%;
    height: 500px;
    margin: auto;
}
/*------------------------Schema opmaak-------------------*/

.scheduleHidden
{
    display: none;
}

.hoveSchedule:hover
{
    background-color: white;

}
.day1Style
{
    color: white;
    background-color: #3B5998;
}

.day2Style
{
    color: white;
    background-color: #bb0000;
}

.day3Style
{
    color: white;
    background-color: green;
}

/*-------Responsive------*/



.nav {
/*    float: right;
    width: 90%;
    display: inline-block;
    height: 100%;*/
    overflow: hidden;
    background-color: #333;

}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

/*.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}*/

/*.nav li {
    display: inline-block;
    margin-right: -4px;
}*/

/* Hide the link that should open and close the nav on small screens */
.nav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks
on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
