
.clear {
    clear: both;
    width: 0%;
}

.container {
    width: 100%;
    /*border: 1px solid gray;*/

}

.header {
    background: url('../Images/bg01.jpg') no-repeat center center;
    padding-top: 60px;
    width: 100%;
    min-height: 100px;
    background-size: 100%;
    text-align: center;
    color: red;
    display: inline-block;
    vertical-align: middle

}

.footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.content {

    width: 100%;
    border: 1px solid gray;
    /*height: 1000px; !*tijdelijk starks weg halen*!*/
    height: 100%;

}

.iframe{
    width: 100%;
    border: none;
    height: 100%;
}

.navigatie {
    width: 100%;
    height: 55px;


}

.logo {
    width: 10%;
    /*float: left;*/
    color: white;
    text-align: center;
    background-color: red;
    display: inline-block;
    height: 100%;

}

.nav {
    float: right;
    width: 90%;
    display: inline-block;
    height: 100%;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}
